body{
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #045D8B;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar a{
  color: white;
}

.navbar_toggleBtn{
  display : flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 3px;

  /* position: absolute; */
  font-size: 24px;
  /* left: 17px;
  top: 18px; */

  color: #FFFFFF;
}

#ajou_memo{
  display: flex;
  
}

/* #login{

} */

.navbar-menu {
  width: 30%;
  height: 100%; 
  background-color: #CFDAFF;
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;

}

.navbar-menu p {
  color: black;
  padding: 15px 15px;
  border-bottom: 1.5px solid #045D8B;

}

.active {
  display: flex;
}

/* 등록하기 정렬문제 해결
a 태그자체만으로 정렬 시도를 한 것이 문제
감싸고 있는 div 태그를 건드니리까 해결됨 */
.first{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 30px;
}

.first a {
  color : black;
}

.context{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.inner {
  border: 1px solid black;
  border-bottom: 0px;
  padding: 15px 50px;
}

.inner:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.inner:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid black;
}

.inner p{
  display: inline;
  padding: 10px;
}

.nextNum{
  display: flex;
  padding-top: 30px;
  justify-content: space-around;
}

.nextNum a {
  padding: 3px 10px;
  border: 1px solid black;
}