/* 글쓰기 페이지 */
.writing_body{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  width: 50%;
  height: 460px;

  border-radius: 10px;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.writing_board {
  border: 1px solid black;
  width: 70%;
  height: 15%;
  margin-bottom: 15px;
  padding-left: 10px;
  box-sizing: border-box;
}

.writing_title {
  border: 1px solid black;
  width: 70%;
  height: 15%;
  margin-bottom: 15px;
  padding-left: 10px;
  box-sizing: border-box;

}

.writing_content {
  border: 1px solid black;
  width: 70%;
  height: 50%;
  box-sizing: border-box;
  padding-left: 10px;

}

.writing_btn {
  border: 1px solid black;
  position: absolute;
  padding: 3px;
  right: 150px;
  bottom: 50px;
}